html {
  max-width: 100%;
  overflow-x: hidden;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: white !important;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-image: url("../img/back_1.jpg");
  height: 100%;
  background-position: center top, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

@viewport{
  width: device-width;
}

h2 {
  text-transform: uppercase;
  font-weight: 200 !important;
}

div.main {
  height: 100%;
}

div.section.first {
  width: 100%;
  height: 100%;
}

div.first h1 {
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 4px;
}

@media screen and (max-width: 770px) {
  div.first h1 {
    font-size: 180%;
    padding-top: 8px;
  }
}

div.navi {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

div.navi ul {
  list-style: none;
}

div.navi li {
  font-size: 150%;
  margin-top: 0.5em;
}

div.navi a {
  /*text-shadow: 0px 1px 10px rgba(150, 150, 150, 1);*/
  text-decoration: none !important;
  color: white;
}

div.navi a:hover {
  text-shadow: 0px 0.5px 0px #f4f4f4;
}

@media screen and (max-width: 770px) {
  div.navi {
    top: 70%;
  }
  div.navi li {
    font-size: 120%;
    text-align: right;
  }
}

div.second {
  padding-top: 16vh;
  padding-bottom: 8vh;
  min-height: 100vh;
}

div.second h2 {
  padding-bottom: 4vh;
}

div.second p.up {
  padding-bottom: 3vh;
}

div.second div.row {
  /*padding-left: 6vw;
  padding-right: 6vw;*/
  text-align: justify;
}

div.second div.col-4 {
  padding-left: 3vw;
  padding-right: 3vw;
}

@media screen and (max-width: 770px) {
  div.second {
    padding-top: 5.5vh;
  }
  div.second.section {
    height: none;
  }
}

div.third {
  padding-top: 5vh;
  padding-bottom: 8vh;
  min-height: 100vh;
}

img.emma_2 {
   /*position: absolute;
   top: 50%;
   left: 50%;
   width: 31vw;*/
   width: 25vw;
   max-width: 100%;
   padding-top: 0vh;
   padding-right:1vw;
   /*padding-left: 5vw;*/
   /*argin-top: -10.6vw; Half the height
   margin-left: -15vw; /* Half the width */
}

@media screen and (min-width: 1204px) {
  img.emma_2 {
     padding-top: 0.5vh;
  }
}
@media screen and (max-width: 770px) {
  div.ayy-img {
    display: none;
  }
  div.ayy h6 {
    padding-top: 2vh;
  }
}

div.third div.row {
  padding-top: 5vh;
  text-align: left;
}

div.third div.row p {
  text-align: justify;
}

div.row div.right {
  text-align: right;
}

div.fourth {
  min-height: 100%;
  padding-top: 8vh;
}

@media screen and (max-width: 770px) {
  div.fourth {
    padding-top: 6vh;
  }
}

div.cv {
  padding-top: 5vh;
}

div.fourth h6 {
  padding-top: 3px;
}

div.quotes {
  min-height: 40%;
  /*padding-bottom: 10vh;*/
}

div.quotes .container {
  padding-left: none;
  padding-right: none;
}

.blockquote {
  font-size: 0.9rem !important;
  font-style: italic;
}

.blockquote footer {
  font-style: normal;
}

.quote {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media screen and (max-width: 770px) {
  div.quotes {
    min-height: 70%;
    padding-bottom: 8vh;
    padding-top: 8vh;
  }
}

div.footer {
  min-height: 100%;
  background: url("../img/back_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.footer-text {
  padding-top: 40vh;
  padding-right: 10vw;
}

div.footer-text p {
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}

div.footer div.desktop {
  display: none;
}

div.footer div.mobile {
  display: none;
}

@media screen and (min-width: 770px) {
  div.footer div.desktop {
    display: block;
  }
}

@media screen and (max-width: 770px) {
  div.footer {
    background-position: 35%;
  }
  div.footer div.mobile {
    display: block;
  }
  div.footer div.mobile p {
    font-size: 1em;
    font-weight: bold;
    color: white;
  }
}

div.mobile-img {
  padding-bottom: 5vh;
  display: none;
}

img.mob {
  max-width: 70vw;
}

@media screen and (min-width: 720px){
  img.mob {
    max-width: 50vw;
  }
}

@media screen and (max-width: 770px) {
  div.container {
    padding-left: 25px;
    padding-right: 25px;
  }
  div.mobile-img {
    display: block;
  }
}
